.input-field{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
    align-items: stretch;
}

.form-group{
    margin: 20px;
}

.btn{
    margin-top: 30px;
}

.container{
    margin-top: 150px;
}