<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="./assets/florida-gators-logo-png-transparent.png"
    />
    <a routerLink="/" class="home-route">GatorRepo</a>
    <div class="spacer"></div>
    <div>
      <ul class="tools" style="list-style: none;">
          <li class="tool tool1">
              <a class="nav-link" title="Star on GitHub" href="https://github.com/NirupamYashas/Gator-Repo">
                  <i class="fa fa-github"></i>
              </a>
          </li>
          <li class="tool tool1">
            <a [routerLink]="['/home']" class="nav-link"><i class="fa-brands fa-youtube"></i></a>
          </li>
          <li class="tool tool2">
              <a href="https://github.com/NirupamYashas/Gator-Repo/blob/master/API%20Documentation.md" class="nav-link" target="_blank"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
          </li>
          <li class="tool tool3">
              <a [routerLink]="['/home']" class="nav-link"><i class="nc-icon nc-layout-11"></i> Blog</a>
          </li>
          <ng-template #anonymousUser>
            <button [routerLink]="['/login']" class="btn btn-warning lr" type="submit">Login</button>
            <button [routerLink]="['/register']" class="btn btn-warning lr" type="submit">Sign-up</button>
          </ng-template>
          <!-- <li ngbDropdown *ngIf="authenticationService.user$ | async as user;else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.displayName}}
            </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/user-profile">Profile</a>
                <a class="dropdown-item" routerLink="/projects">Projects List</a>
                <a class="dropdown-item" routerLink="/create">Add New project</a>
                <a class="dropdown-item" routerLink="/admin/users">Manage Users</a>
                <a class="dropdown-item" routerLink="/admin/projects">Manage Projects</a>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </div>
          </li> -->
          <li ngbDropdown *ngIf="authenticationService.isLoggedIn();else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{authenticationService.CurrentUser.data.firstname}}
            </a>
              <div ngbDropdownMenu id="user-items" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" routerLink="/user-profile">Profile</a>
                <a class="dropdown-item" routerLink="/projects">Projects List</a>
                <a class="dropdown-item" routerLink="/create">Add New project</a>
                <a *ngIf="authenticationService.CurrentUser.data.isadmin" class="dropdown-item" routerLink="/admin/users">Manage Users</a>
                <a *ngIf="authenticationService.CurrentUser.data.isadmin" class="dropdown-item" routerLink="/admin/projects">Manage Projects</a>
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </div>
          </li>
      </ul>
    </div>
</div>